
^^origin.form = function(config){$$
<form role="form" class="form-horizontal" id="form">
  ^^for(var name in config.inputs){
    var col = config.inputs[name];
  $$
   <div class="form-group">
      <label for="input_^^=name$$">^^=col.text$$</label>
      ^^if(col.type && col.type =="file"){$$
        <input id="input_^^=name$$" class="form-control" type="file" name="^^=name$$" ng-model="target.^^=name$$" />
      ^^}else if(col.type && (col.type =="select"||col.enum)){if(!col.options)col.options=col.enum$$
        <select id="input_^^=name$$" class="form-control" name="^^=name$$" ng-model="target.^^=name$$" >
           ^^for(var val in col.options){
           var text = col.options[val];
           $$
          <option value="^^=val$$">^^=text$$</option>
           ^^}$$
        </select>
      ^^}else{$$
        <input id="input_^^=name$$" class="form-control" type="text" name="^^=name$$" ng-model="target.^^=name$$" />
      ^^}$$
   </div>
   ^^}$$
   <div class="form-group">
      <button ng-click="resetForm()" class="btn btn-default ">重置</button>
      <button ng-click="submitForm()" class="btn btn-success">^^=config.submitText || "提交"$$</button>
   </div>
</form>
^^}$$

^^origin.format = function(config){
$$
<div class="json">
<ul class="list-group">
^^format(config.model, config.format, "parent")$$
</ul>
</div>
^^
};
function addIndent(level){
 for(var l=0; l<level; l ++){
$$
<span class="indent"></span>
^^
 }
}
function format(model, formatJson, pkey, level){
 var parent = model.replace(/(\.[^\.\[\]]+)$|(\[[^\.\[\]]+\])$/, "");
 if(!level) level = 0;
 if(typeof formatJson != "object"){
    formatJson = {
      $type: typeof formatJson,
      $default: formatJson
    }
 }

 if(formatJson.$type){
	formatSub(model, pkey, formatJson.$type, formatJson, level)
  return;
 }

 if(formatJson.$list){
$$
<div ng-hide="^^=parent$$.$collapse">
<li class="list-group-item">
^^addIndent(level)$$
<span class="icon glyphicon glyphicon-minus" ng-click="^^=model$$.$collapse=!^^=model$$.$collapse"></span>
<div style="display:inline-block;">^^=pkey$$</div>
</li>
<div ng-repeat="(key, val) in ^^=model$$" ng-hide="^^=model$$.$collapse">
^^
		format(model+"[key]", formatJson.$list, "{{key}}", level + 1);
$$
</div>
</div>
^^
  return;
 }
 var ii=0;
 for(var key in formatJson){
  if(key[0] == "$") continue;
  ii ++;
 }
$$
<li class="list-group-item" ng-hide="^^=parent$$.$collapse">
^^addIndent(level)$$
<span class="icon glyphicon glyphicon-minus" ng-click="^^=model$$.$collapse=!^^=model$$.$collapse"></span>
<div style="display:inline-block;">^^=pkey$$</div>
</li>
^^
 for(var key in formatJson){
  if(key[0] == "$") continue;
  var f = formatJson[key];
  if(f.$multi){

  }else{
	 formatSub(model+"['"+key + "']", key, f.$type, f, level + 1)
  }
 }
}
$$

^^function formatSub(model, key, type, f, level){
 var parent = model.replace(/(\.[^\.\[\]]+)$|(\[[^\.\[\]]+\])$/, "");
 var defaultStr = "";

 if(f.$default) defaultStr='default="'+f.$default + '"';
$$
^^
 if(type == "number" || type == "string" || type == "boolean"){
$$

<li class="list-group-item" ng-hide="^^=parent$$.$collapse">
^^addIndent(level)$$
<span class="icon glyphicon glyphicon-wrench"></span>
<div style="display:inline-block;font-weight:700;margin-right:1em;">^^=key$$</div>
<div style="display:inline-block;min-width:3em;" ng-model="^^=model$$" contenteditable ^^=defaultStr$$></div>
</li>
^^
 }else{
format(model, f, key, level)
 }
}
$$

^^origin.list = list;
function list(config){
var itemStr = "item";
var styleStr = "";
var clickStr = "";
if(config.click){
 clickStr='ng-click="'+config.click+'"'
 styleStr+="cursor:pointer;";
}
if(!$.isArray(config))
 itemStr = "(name, item)";
$$
<ul class="list-group">
  <li class="list-group-item" ng-repeat="^^=itemStr$$ in ^^=config.model$$" ^^=clickStr$$ style="^^=styleStr$$">^^=config.content || '{{item.name}}'$$</li>
</ul>
^^}$$

^^origin.table = function(config){$$
^^
if(config.withSchema){
  $.append(config.fields, global.proto.schemas[config.withSchema].fields);
}
$$
<div class="panel panel-primary" ng-show="showsearch">
  <div class="panel-heading" ng-click="showsearch=!showsearch">查询^^=config.text || config.name$$</div>
  <div class="panel-body">
    <form role="form" class="form-horizontal" id="form">
      ^^for(var name in config.fields){
        var col = config.fields[name];
      $$
       <div class="form-group">
          ^^if(col.type && (col.type == "date" || col.type == "datetime")){$$
            <label for="search_1_^^=name$$" class="col-sm-2 control-label">^^=col.text$$开始</label>
            <div class="col-sm-4">
              <input id="search_1_^^=name$$" ng-model="^^=config.name$$.where.^^=name$$.$gte" class="form-control" type="date" placeholder="^^=col.placeholder||"(大于等于此时间)"$$"/> 
            </div>
            <label for="search_2_^^=name$$" class="col-sm-2 control-label">^^=col.text$$结束</label>
            <div class="col-sm-4">
              <input id="search_2_^^=name$$" ng-model="^^=config.name$$.where.^^=name$$.$lte" class="form-control col-sm-4" type="date" placeholder="^^=col.placeholder||"(小于等于此时间)"$$"/>
            </div>
          ^^}else{$$
          <label for="search_^^=name$$" class="col-sm-2 control-label">^^=col.text$$</label>
          <div class="col-sm-10">
            ^^if(col.type && (col.type == "number" || col.type == "int")){$$
              <input id="search_^^=name$$" ng-model="^^=config.name$$.where.^^=name$$" class="form-control" type="number" placeholder="^^=col.placeholder||name$$"/>
            ^^}else if(col.type && col.type =="select" || col.enum){if(!col.options)col.options=col.enum;$$
              <select id="search_^^=name$$" class="form-control" ng-model="^^=config.name$$.where.^^=name$$" >
                 ^^for(var val in col.options){
                 var text = col.options[val];
                 $$
                <option value="^^=val$$">^^=text$$</option>
                 ^^}$$
              </select>
            ^^}else{$$
              <input id="search_^^=name$$" ng-model="^^=config.name$$.where.^^=name$$" class="form-control" type="text" />
            ^^}$$
          </div>
          ^^}$$
       </div>
       ^^}$$
       <div class="row">
         <div class="col-sm-6 text-right">
           <button ng-click="^^=config.name$$.where={};refresh();" class="btn btn-default ">重置</button>
         </div>
         <div class="col-sm-6 text-left">
           <button ng-click="refresh()" class="btn btn-success">^^=config.submitText || "提交"$$</button>
         </div>
       </div>
    </form>
  </div>
</div>
<div class="panel panel-primary">
<div class="panel-heading">^^=config.text || config.name$$</div>
<div class="panel-body">

<!--
	<div class="col-sm-8">
		<div class="col-sm-12" style="border:1px solid #428bca;border-radius:4px;margin:12px;padding:5px;">
			<div class="row">
				<div class="col-sm-8">
					<div class="btn-group" role="group">
						<a type="button" class="btn btn-default" ng-repeat="query in ^^=config.name$$.querys">{{query.name}}</a>
					</div>
				</div>
				<div class="col-sm-4 text-right">
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-default" ng-click="edit=!edit"><i class="fa fa-plus"></i></button>
					</div>
				</div>
				<div class="col-sm-6" ng-show="edit" style="padding: 10px;">
					<div class="form-group">
						<div class="input-group" style="padding: 5px 10px;">
							<input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
							<div class="input-group-addon" contenteditable ng-model="xxx" autocomplete="aaa" default="aaax"></div>			
							<input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
						</div>
						<div class="input-group">
							<input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
							<div class="input-group-addon" contenteditable ng-model="xxxx" autocomplete="aaa" default="aaax"></div>
							<input type="text" class="form-control" contenteditable autocomplete="aaa" id="exampleInputAmount" placeholder="Amount" default="xxx" ng-model="xxxx">
						</div>
					</div>
				</div>
			</div>
	</div>
</div>
-->
<br/>
<div class="col-sm-3">
	<div class="form-inline" style="verical-align:middle;padding:0.2em 0;">
	<label style="font-weight:normal">Show <select class="form-control input-sm" ng-model="^^=config.name$$.perPage">
			<option value="10">10</option>
			<option value="25">25</option>
			<option value="50">50</option>
			<option value="100">100</option>
		</select> entries</label>
	</div>
</div>
<div class="col-sm-6 btn-group">
  <button class="btn btn-default" ng-click="showsearch=!showsearch">查询数据</button>
^^if(config.opt && config.opt.add){$$
  <button class="btn btn-default" ng-click="optAdd()">添加数据</button>
^^}$$
^^if(config.toolbar){
  for(var name in config.toolbar){
    var ele = config.toolbar[name];
    if(!ele.tag)ele.tag="button";
  $$<^^=ele.tag$$^^if(ele.attr){if(!ele.attr.class){$$ class="btn btn-default"^^}for(var attrname in ele.attr){$$^^= attrname$$="^^=ele.attr[attrname]$$"^^}}else{$$ class="btn btn-default"^^}$$>^^=ele.text||name$$</^^=ele.tag$$>^^}}$$
</div>
<div class="col-sm-3 text-right">
	^^pagenator(config)$$
</div>
  <div class="col-sm-12" style="overflow-x:auto;">
  <table class="table table-striped table-bordered" style="vertical-align:middle;"><thead>
 ^^for(var name in config.fields){var col = config.fields[name];$$
 ^^if(!col.hidden){$$
  <th><a style="padding: 0 5px;" ng-click="^^=config.name$$.changeSort('^^=name$$')"><i class="fa" ng-class="{'fa-sort-asc':^^=config.name$$.sort.^^=name$$ === 1,'fa-sort-desc': ^^=config.name$$.sort.^^=name$$ === -1,'fa-sort':!^^=config.name$$.sort.^^=name$$}"></i></a>^^=col.text||name$$<br/>^^=name$$</th>
 ^^}}$$
 ^^if(config.opt){$$
  <th>opt</th>
  ^^}$$
  </thead>
  <tbody>
    <tr ng-repeat="row in ^^=config.name$$.data" onlastrepeat>
 ^^for(var name in config.fields){var col = config.fields[name];$$
 ^^if(!col.hidden){$$
 	<td>
  ^^if(col.ondemand){$$
	<span class="glyphicon glyphicon-option-horizontal" ng-click="^^=config.name$$.showrow^^=name$$=true" ng-hide="^^=config.name$$.showrow^^=name$$"></span>
	<div ng-click="^^=config.name$$.showrow^^=name$$=false" ng-show="^^=config.name$$.showrow^^=name$$">^^bytype(col.type)$$</div>
  ^^}else if(col.href){$$
  <a ng-href="^^=col.href$${{row.^^=name$$}}">^^bytype(col.type)$$</a>
  ^^}else if(col.showuser){$$
  <a data-toggle="popover" class='showuser' data-container="body" data-placement="right" data-content="..." userid="{{row.^^=col.showuser$$}}">^^bytype(col.type)$$</a>
  ^^}else{
		bytype(col.type)
  }$$</td>
 ^^}}$$
 ^^if(config.opt){$$
 <td>
    ^^if(config.opt.update){$$
      <button class="btn btn-primary" ng-click="optUpdate(row)">修改</button>
    ^^}$$
    ^^if(config.opt.delete){$$
      <button class="btn btn-primary" ng-click="optDelete(row)">删除</button>
    ^^}$$
    ^^for(var name in config.opt){if(name != "add" && name != "update" && name != "delete"){$$
      <button class="btn btn-primary"
      ^^for(var attr in config.opt[name].attr){var value = config.opt[name].attr[attr];$$
        ^^=attr$$="^^=value$$" 
        ^^}$$
        >^^= config.opt[name].text || name$$</button>
    ^^}}$$
  </td>
  ^^}$$
		</tr>
	</tbody>
</table>
  </div>
<div class="col-sm-5"><div style="padding:0.5em 0;">Showing {{^^=config.name$$.perPage*(^^=config.name$$.currPage-1)+1}} to {{^^=config.name$$.perPage*^^=config.name$$.currPage}} of {{^^=config.name$$.count}} entries</div></div>
<div class="col-sm-7 text-right">
	^^pagenator(config)$$
</div>
</div>
</div>

 ^^if(config.opt){$$
   ^^if(config.opt.update || config.opt.add){$$
    <div class="modal fade" id="optModal" tabindex="-1" role="dialog" aria-labelledby="optLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="optLabel">
            添加^^=(config.text || config.name)$$
            </h4>
          </div>
          <div class="modal-body">
            <form role="form" class="form-horizontal" id="optform">
              ^^for(var name in config.fields){
                var col = config.fields[name];
              $$
              <div class="form-group">
                <label for="field_^^=name$$" class="col-sm-3 control-label">^^=col.text$$</label>
                 <div class="col-sm-7">
                  ^^if(col.type && col.type =="file"){$$
                  <input id="field_^^=name$$" class="form-control" type="file" name="^^=name$$" ng-model="opt_model.^^=name$$" />
                  ^^}else if(col.type && col.type =="boolean"){$$
                  <select id="field_^^=name$$" class="form-control" name="^^=name$$" ng-model="opt_model.^^=name$$" >
                    ^^
                    var truefalse = {
                      true:"是",
                      false:"否"
                    }
                    for(var val in truefalse){
                         var text = truefalse[val];
                         $$
                    <option value="^^=val$$">^^=text$$</option>
                    ^^}$$
                  </select>
                  ^^}else if(col.type && col.type =="enum"){$$
                  <select id="field_^^=name$$" class="form-control" name="^^=name$$" ng-model="opt_model.^^=name$$" >
                    ^^for(var val in col.values){
                         var text = col.values[val];
                         $$
                    <option value="^^=val$$">^^=text$$</option>
                    ^^}$$
                  </select>
                  ^^}else if(name == "_id"){$$
                  <input id="field_^^=name$$" class="form-control" ^^if(col.disabled===undefined){$$disabled="disabled"^^}else{}$$ name="^^=name$$" ng-model="opt_model.^^=name$$" />
                  ^^}else{$$
                  <input id="field_^^=name$$" class="form-control" type="text" name="^^=name$$" ng-model="opt_model.^^=name$$" />
                  ^^}$$
                </div>
              </div>
              ^^}$$
            </form>
          </div>
          <div class="modal-footer">
                <div class="col-sm-4"><button ng-click="resetOptform()" class="col-sm-6 btn btn-default pull-right">重置</button></div>
                <div class="col-sm-4"><button ng-click="submitOptform()" class="col-sm-6 btn btn-success">^^=config.submitText || "提交"$$</button></div>
                <div class="col-sm-4"><button ng-click="closeOptform()" class="col-sm-6 btn btn-default" data-dismiss="modal">关闭</button></div>
          </div>
        </div>
      </div>
    </div>
   ^^}$$
 ^^}$$





 ^^function bytype(type){$$
	^^if(type == "date"){$$
 			{{row.^^=name$$|date:'yyyy/MM/dd'}}
	^^}else if(type == "datetime"){$$
 			{{row.^^=name$$|date:'yy/MM/dd HH:mm'}}
  ^^}else{$$
 			{{row.^^=name$$}}
  ^^}$$
 ^^}$$

 ^^function pagenator(config){$$
<ul class="pagination" style="margin:2px 0;">
  <li><a ng-click="^^=config.name$$.gotoFirst()" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
  <li ng-class="{active: p===^^=config.name$$.currPage}" ng-repeat="p in ^^=config.name$$.adj()"><a style="cursor:pointer;" ng-click="^^=config.name$$.gotoPage(p)">{{p}}</a></li>
  <li><a ng-click="^^=config.name$$.gotoLast()" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
</ul>
 ^^}$$

^^}$$
^^origin.summaryTable = function(config){$$

^^}$$
^^origin.editTable = function(config){$$

^^}$$



^^function genKit(config, model){
 if(config.kit == "list"){	
  list({model: model})
 }else if(config.kit == "mono"){
  mono({model: model, format: config.format})
 }
}$$
^^function genFormat(config){$$
^^}$$


^^origin.leadPanel = function(config){$$
<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-3">
        <i class="fa fa-comments fa-5x"></i>
      </div>
      <div class="col-xs-9 text-right">
        <div class="huge">26</div>
        <div>New Comments!</div>
      </div>
    </div>
  </div>
  <a href="#">
    <div class="panel-footer">
      <span class="pull-left">View Details</span>
      <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
      <div class="clearfix"></div>
    </div>
  </a>
</div>
^^}$$