<!DOCTYPE html>
<html ng-app="app">
<head>
<title></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script type="text/javascript" src="js/respond.min.js"></script>

<script type="text/javascript" src="js/html5shiv.min.js"></script>

<![endif]-->
<link type="text/css" rel="stylesheet" href="main.css">
</head>
<body>
<div ng-controller="mainController"><div id="container" style="height:800px;width:600px;"><json-modifier ng-model="y" class="tree"></json-modifier>

<json-display ng-model="y"></json-display>

<div id="nav" style="height:100%;width:40%;background-color:white;"></div>
</div></div>


<script type="text/javascript" src="vendor/js/jquery.min.js"></script>
<script type="text/javascript" src="vendor/js/angular.min.js"></script>
<script type="text/javascript" src="main.js"></script>
<script type="text/javascript" src="lib.js"></script>
</body>
</html>
