^^var apis = global.proto.apis;
var server = global.impl.servers[withServer];
$$

<div id="wrapper">
<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
				^^=server.text$$接口测试
      </a>
    </li>
^^for(var i =0; i< server.withApis.length; i++){var api = apis[server.withApis[i]];$$
    <li>
      <a ng-click="loadTemplate('^^=api.name$$')">^^=api.name$$<span></a>
    </li>
^^}$$
  </ul>
</div>
<!-- /#sidebar-wrapper -->
<div id="page-wrapper">
	<div class="ng-include" src="template"></div>
</div>
<div style="position:fixed;left:80%;top:5%;">
	<label style="padding:5px;"><strong>token&nbsp;<strong></label>
	<input ng-model="token">
</div>
</div>
