* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, "Microsoft Yahei";
}
a {
		cursor: pointer;
}
[ng-click] {
		cursor: pointer
}
.json span.indent{
		margin-left:10px;
		margin-right:10px
}
.json span.icon{
		width:12px;
		margin-right:5px
}
.treeview .node-disabled{
		color:silver;
		cursor:not-allowed
}
.node-treeview12{
}
.node-treeview12:not(.node-disabled):hover{background-color:#F5F5F5;}