/* ^^=width$$px */
fontbase {
		font-size: ^^=parseInt(width/64)$$
}
.grid1 {
		width: ^^=parseInt(width/12)$$px;
}
.grid1-2 {
		width: ^^=parseInt(width/12*1.2)$$px;
}
.grid1-5 {
		width: ^^=parseInt(width/12*1.5)$$px;
}
.grid1-8 {
		width: ^^=parseInt(width/12*1.8)$$px;
}
.grid2 {
		width: ^^=parseInt(width/6)$$px;
}
.grid2-5 {
		width: ^^=parseInt(width/12*2.5)$$px;
}
.grid3 {
		width: ^^=parseInt(width/4)$$px;
}
.grid3-5 {
		width: ^^=parseInt(width/12*3.5)$$px;
}
.grid4 {
		width: ^^=parseInt(width/3)$$px;
}
.grid5 {
		width: ^^=parseInt(width/12*5)$$px;
}
.grid6 {
		width: ^^=parseInt(width/2)$$px;
}
.grid7 {
		width: ^^=parseInt(width/12*7)$$px;
}
.grid8 {
		width: ^^=parseInt(width/3*2)$$px;
}
.grid9 {
		width: ^^=parseInt(width/4*3)$$px;
}
.grid10 {
		width: ^^=parseInt(width/6*5)$$px;
}
.grid11 {
		width: ^^=parseInt(width/12*11)$$px;
}
.grid12 {
		width: ^^=width$$px;
}
